@model ArtGalleryApp.Models.Artwork

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2 class="text-success display-3">Add artwork</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="d-flex align-items-start align-content-start">
            <div class="form-group col-4">
                <div class="align-items-center align-content-center text-center bg-light" style="width: 390px; height: 300px;">
                    <img id="img-preview" src="~/Content/Images/stock.jpg" alt="Picture preview" style="max-width: 390px; max-height: 300px; object-fit: fill;" />
                </div>
                <div class="col-md-10">
                    @Html.Label("Image")
                    @Html.EditorFor(model => model.ImageURL, new { htmlAttributes = new { @class = "form-control mt-2 mb-2", @id = "img-input", @style = "min-width: 100%;" } })
                    @Html.ValidationMessageFor(model => model.ImageURL, "", new { @class = "text-danger" })
                </div>
                <span id="btn-preview" class="btn btn-outline-secondary">Preview image</span>
            </div>

            <div class="col-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @style = "min-width: 100%;" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.HiddenFor(model => model.ArtistId)

                <div class="form-group">
                    @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Category, new SelectList(new List<Object> { "Painting", "Print", "Photography", "Sculpture", "Drawing" }), htmlAttributes: new { @class = "control-label col-md-2 p-1 ps-2", @style = "min-width: 100%;" })
                        @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control", @style = "min-width: 100%;" } })
                        @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @style = "min-width: 100%; min-height: 100px;" })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Status, new SelectList(new List<Object> { "Not for sale", "For sale" }), htmlAttributes: new { @class = "control-label col-md-2 p-1 ps-2", @id = "art-status", @style = "min-width: 100%;" })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" id="art-price">
                    @Html.Label("Price (euro)")
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control d-inline-block", @style = "min-width: 100%;" } })
                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                    </div>
                </div>

                @Html.HiddenFor(model => model.ArtistName)

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Add artwork" class="btn btn-secondary mt-3" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "d-inline-block mt-3 text-success" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
        $("#art-price").hide();

        $("#art-status").change(function () {
            if ($("#art-status option:selected").text() == "For sale") {
                $("#art-price").show();
            } else {
                $("#art-price").hide();
            }
        });

        $("#btn-preview").on("click", function () {
            var lnk = $("#img-input").val();
            $("#img-preview").attr("src", lnk);
        });
    })
    </script>
}